*{
margin:0;
padding:0;
box-sizing: border-box;
color: rgb(249, 248, 247);
}
html,body{
width: 100%;
height: 100%;
background-color: rgba(8, 7, 7, 0.845);
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(56, 51, 51, 0.416);

}

section{
    height: 100%;
    width: 300px;
    background-color: rgb(54, 29, 29);
    border-radius: 10px;
    margin: auto;
}
.allreels{
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: cornflowerblue;
    overflow: hidden;
    border-radius: 10px;
   
}
.reel img{
    height: 100%;
    width: 350px;
    object-fit: cover;

}

.reel .bottom .user{
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.user img{
    height:25px;
    width: 25px;
    border-radius: 50%;
}
.bottom button{
    background-color: #fff;
    border: transparent;
    border-radius: 10px;
    
    color: black;
    padding: 5px 10px;
}
.bottom button:hover{
    scale: 0.9;
    transition: 0.8;
}
.bottom .title{
    position: absolute;
    bottom: 20px;
    text-align: center;
    padding-left: 30px;
}

/* .reel-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: 100%;
    bottom: 40%;
} */
