*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
background-color: rgba(192, 189, 189, 0.669);
display: flex;
align-items: center;
justify-content: center;
}
.card{
    height: 250px;
    width: 450px;
    background-color: white;
    border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 0px 20px 0px red ;
}
.card h3{
    text-align: center;
    position: relative;
    top: 70px;

   
}
.card span{
    color: blue;
}
.outer{
    height: 12px;
    width: 100%;
    background-color: rgb(179, 173, 173);
    margin-top: 20%;
    border-radius: 10px;
    
    
}
.inner{
    height: 12px;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.btn button{
    padding: 5px;
    border-radius: 10px;
    background-color: green;
    color: black;
    border: 0;
    
    
}
.btn button:active{
    scale: 0.90;
}
